<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/3rd-party/littlelink/css/normalize.css">
        <link rel="stylesheet" href="/static/3rd-party/littlelink/css/skeleton-light.css">
        <link rel="stylesheet" href="/static/3rd-party/littlelink/css/brands.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block title %}Missing title{% endblock %}</title>
    </head>
    <body>
        {% block content %}Missing content{% endblock %}
    </body>
</html>