{% extends "base.html" %}
{% block title %}Linkpage{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="column" style="margin-top: 10%">
                <img src="TODO image">
                <h1>Link Page</h1>
                <p>{% trans %}todo description{% endtrans %}</p>
                {% if logged_in %}
                    <p>{% trans name=session.user %}Hello {{ name }}.{% endtrans %}</p>
                    <br>
                    <a class="button button-manage" href="{{ url_for ('.manage') }}">
                        <img class="icon" src="static/3rd-party/littlelink/icons/manage.png">
                        {% trans %}Manage your link pages{% endtrans %}
                    </a>
	                <br>
                    <a class="button button-logout" href="{{ url_for ('.logout') }}">
                        <img class="icon" src="static/3rd-party/littlelink/icons/logout.png">
                        {% trans %}Logout{% endtrans %}
                    </a>
	                <br>
                {% else %}
                    <div id="login-form">
                        {% if wrongpw %}
                            <span class="btn red">{% trans %}Wrong password!{% endtrans %}</span>
                        {% endif %}
                        <form method="post" action="/">
                            <h3>{% trans %}Login{% endtrans %}</h3>
                            {% trans %}Username:{% endtrans %} <input type="text" name="login_username"><br>
                            {% trans %}Password:{% endtrans %} <input type="password" name="login_password"><br>
                            <input type="submit">
                        </form>
                    </div>
                    {% if registration_allowed %}
                        <br>
                        <br>
                        <div id="registration-form">
                            <form method="post" action="/">
                                <h3>{% trans %}Registration{% endtrans %}</h3>
                                {% trans %}Username:{% endtrans %} <input type="text" name="register_username"><br>
                                {% trans %}Password:{% endtrans %} <input type="password" name="register_password1"><br>
                                {% trans %}Repeat Password:{% endtrans %} <input type="password" name="register_password2"><br>
                                <input type="submit">
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
                <br>
                <br>
                <p>
                    V 0.1.0 –
                    <a href="https://github.com/Niduroki/littlelink-dai">Source</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}